.instruction {
    -fx-padding: 0 0 0 20px
}

.instruction:label {
    -fx-background-color: lightblue;
    -fx-padding: 0;
}

.instruction:unknown {
    -fx-background-color: red;
}

.error-label {
    -fx-text-fill: red;
    -fx-padding: 0 0 0 10;
}