.indent {
    -fx-padding: 0 0 0 25
}

.line-numbers {
    -fx-min-width: 20;
    -fx-padding: 0 5 0 0;
    -fx-border-color: transparent gray transparent transparent;
}

.instructions {
    -fx-padding: 0 0 0 5;
}

.instruction {
}

.instruction-error {
    -fx-background-color: #FFC0C0;
}

.debug {
    -fx-background-color: blue;
}

.salt {
    -fx-background-color: #EAEAEA;
}

.pepper {
    -fx-background-color: #DADADA;
}

.selected {
    -fx-border-color: red;
}

.error-text {
    -fx-text-fill: red;
}

.deprecated-text .text {
    -fx-strikethrough: true;
}